//variables
//fonts
$font: 'Gilroy', Arial, sans-serif;

//colors
$text: #431d6f;
$btn: #ffd452;
$bg: #ffffff;
$black: #000000;
$textLight: #371551;
$org: #F2994A;

//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/banner";
@import "sections/slider";
@import "sections/plan";
@import "sections/for";
@import "sections/courses";
@import "sections/diplom";
@import "sections/specs";
@import "sections/teachs";
@import "sections/port";
@import "sections/casting";
@import "sections/revs";
@import "sections/popup";
@import "sections/mmenu";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}