include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header.header.jsAddAnimate
                .container
                    a(href='/').header__logo
                        <svg width="135" height="62" viewBox="0 0 135 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.1354 20.1702H38.5511H33.5342V13.4848C33.5342 6.02216 27.3027 -0.0412682 19.698 0.476974C12.9912 0.943391 7.65742 6.48858 7.65742 13.1739V20.1702H2.64049H1.0562C0.475288 20.1702 0 20.6366 0 21.2066V22.7614V28.9803C0 39.7597 8.6608 48.6216 19.5396 49.1399V58.4682H11.6182C10.8788 58.4682 10.2979 59.0383 10.2979 59.7638C10.2979 60.4894 10.8788 61.0594 11.6182 61.0594H29.5735C30.3128 61.0594 30.8937 60.4894 30.8937 59.7638C30.8937 59.0383 30.3128 58.4682 29.5735 58.4682H22.1801V49.1399C32.7949 48.3107 41.1916 39.6042 41.1916 28.9803V22.7614V21.2066C41.1916 20.6366 40.7163 20.1702 40.1354 20.1702ZM19.5396 46.5487C10.1395 46.0304 2.64049 38.3605 2.64049 28.9803V22.7614H7.60461V29.7576C7.60461 36.3911 12.8328 41.8845 19.4868 42.4027V46.5487H19.5396ZM20.9655 39.8633C15.1036 40.0706 10.2979 35.4583 10.2979 29.7576V22.7614V20.1702V13.1739C10.2979 7.47324 15.1036 2.86089 20.9655 3.06818C25.2431 3.22366 28.7813 6.02216 30.2072 9.80533H21.388C20.6486 9.80533 20.0677 10.3754 20.0677 11.1009C20.0677 11.8265 20.6486 12.3965 21.388 12.3965H30.8409C30.8937 12.7593 30.8937 13.0703 30.8937 13.433V16.5425H21.388C20.6486 16.5425 20.0677 17.1125 20.0677 17.8381C20.0677 18.5636 20.6486 19.1337 21.388 19.1337H30.8937V20.1702V22.7614H21.388C20.6486 22.7614 20.0677 23.3314 20.0677 24.057C20.0677 24.7825 20.6486 25.3526 21.388 25.3526H30.8937V29.4985H21.388C20.6486 29.4985 20.0677 30.0686 20.0677 30.7941C20.0677 31.5197 20.6486 32.0897 21.388 32.0897H30.5241C29.415 36.3911 25.6656 39.7079 20.9655 39.8633ZM38.5511 28.9803C38.5511 38.1532 31.369 45.7195 22.1801 46.5487V42.4027C28.5701 41.5736 33.5342 36.2357 33.5342 29.7576V22.7614H38.5511V28.9803Z" fill="white"/>
                        <path d="M133.983 7.73024C133.983 10.1365 131.99 12.1192 129.491 12.1192C126.993 12.1192 125 10.1365 125 7.73024C125 5.32398 126.993 3.34131 129.491 3.34131C131.99 3.34131 133.983 5.32398 133.983 7.73024Z" fill="#D31313" stroke="white" stroke-width="2"/>
                        <path d="M60.4614 14.9072V26.4122H58.1378V17.0838H54.0186V26.4122H51.695V14.9072H60.4614Z" fill="white"/>
                        <path d="M72.7133 26.4122V19.4159L67.6964 26.4122H65.9536V14.9072H68.2773V21.9553L73.2942 14.9591H75.0369V26.464H72.7133V26.4122Z" fill="white"/>
                        <path d="M79.6314 26.4122V24.2874C80.3179 24.3911 80.846 24.2356 81.1629 23.8728C81.5325 23.51 81.691 22.7845 81.691 21.6962V14.9072H89.6652V26.4122H87.3944V17.0838H84.0146V21.6444C84.0146 22.629 83.909 23.4582 83.6449 24.1319C83.3809 24.8056 83.064 25.3239 82.6415 25.6348C82.2191 25.9458 81.7438 26.2049 81.2685 26.3085C80.7932 26.4122 80.2123 26.464 79.6314 26.4122Z" fill="white"/>
                        <path d="M105.033 24.9093C103.871 26.0494 102.392 26.6195 100.702 26.6195C99.0126 26.6195 97.5867 26.0494 96.3721 24.9093C95.2103 23.7692 94.6294 22.3181 94.6294 20.6597C94.6294 19.0014 95.2103 17.5503 96.3721 16.4101C97.5339 15.27 98.9598 14.7 100.702 14.7C102.392 14.7 103.818 15.27 105.033 16.4101C106.195 17.5503 106.828 19.0014 106.828 20.6597C106.828 22.3181 106.195 23.7692 105.033 24.9093ZM98.0092 23.3546C98.7485 24.0801 99.6463 24.3911 100.702 24.3911C101.759 24.3911 102.656 24.0283 103.396 23.3546C104.135 22.6291 104.505 21.748 104.505 20.6597C104.505 19.5714 104.135 18.6386 103.396 17.9649C102.656 17.2393 101.759 16.8766 100.702 16.8766C99.6463 16.8766 98.7485 17.2393 98.0092 17.9649C97.2699 18.6904 96.9002 19.5714 96.9002 20.6597C96.953 21.748 97.3227 22.6291 98.0092 23.3546Z" fill="white"/>
                        <path d="M118.869 14.9072V17.0838H115.7V26.4122H113.377V17.0838H110.208V14.9072H118.869Z" fill="white"/>
                        <path d="M62.3098 32.4756V43.9806H60.039V36.5179L56.7648 41.8558H56.5007L53.2265 36.5179V43.9287H50.9029V32.4756H53.2793L56.6591 37.9171L59.9862 32.4756H62.3098Z" fill="white"/>
                        <path d="M70.1784 41.8039H75.0897V43.9806H67.8548V32.4756H74.9841V34.6522H70.1256V37.0879H74.5616V39.2127H70.1256V41.8039H70.1784Z" fill="white"/>
                        <path d="M89.0315 41.8039H90.2989V46.1572H87.9753V43.9805H81.5325V46.1572H79.2089V41.8039H80.3707C81.0044 40.9229 81.3213 39.6273 81.3213 37.9171V32.4756H89.0315V41.8039ZM82.8528 41.8039H86.7607V34.6004H83.6449V37.9689C83.6449 39.5755 83.3809 40.8711 82.8528 41.8039Z" fill="white"/>
                        <path d="M101.97 43.9287V36.9325L96.953 43.9287H95.2103V32.4756H97.5339V39.4718L102.551 32.4756H104.294V43.9806H101.97V43.9287Z" fill="white"/>
                        <path d="M117.285 43.9288L116.598 41.8558H111.951L111.264 43.9288H108.782L112.902 32.4238H115.753L119.872 43.9288H117.285ZM112.69 39.7829H115.912L114.327 35.0669L112.69 39.7829Z" fill="white"/>
                        </svg>
                    nav.header__nav
                        a(href='#courses').header__item Курсы
                        a(href='#speakers').header__item Спикеры
                        a(href='#portfolio').header__item Портфолио
                        a(href='#contacts').header__item Контакты
                    a(href='tel:88004444656').header__tel 8 800 444 46 56
                    button(type='button').btn2.header__btn Заказать звонок
            //- pages
            .page
                block content

            //- footer
            footer.footer

        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
