.diplom{

  &__top{
    padding-top: 110px;
    @include lg-block{
      padding-top: 55px;
      margin-bottom: 7vw;
    }
    @include md-block{
      margin-bottom: 14vw;
    }
    @include sm-block{
      padding-top: 40px;
      margin-bottom: 20px;
    }

  }

  &__img{
    max-width: 1712px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 20px;

    img{
      display: block;
    }

    @include sm-block{
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0 10px;
    }
  }

  &__bottom{
    margin-top: -13vw;
    padding-top: 13vw;
    padding-bottom: 70px;
    background-color: #f4f4f4;
    @include sm-block{
      margin-top: 0;
      padding-top: 0;
      background: none;
      padding-bottom: 30px;
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: flex-start;
    @include sm-block{
        grid-template-columns: 1fr;
    }
  }

  &__left{
    position: relative;
  }

  &__title{
    max-width: 520px;
    font-size: 40px;
    font-weight: 900;
    line-height: 115%;

    @include lg-block{
      font-size: 24px;
    }
  }

  &__mb{
    margin-bottom: 20px;
  }

  &__sub{
    max-width: 400px;
    font-size: 28px;
    line-height: 120%;
    @include lg-block{
      font-size: 18px;
    }
  }

  &__arr{
    position: absolute;
    right: 30px;
    bottom: -25px;
    @include lg-block{
      right: 10px;
      bottom: -90px;
    }
    @include sm-block{
      display: none;
    }
  }

  &__txt{
    font-size: 20px;
    font-weight: 500;
    @include lg-block{
      font-size: 18px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }

}