.footer {

  &__top{
    background: #2c124e url("/images/content/footer/bg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  &__wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 45px;
    @include lg-block{
      padding-top: 70px;
      padding-bottom: 60px;
    }
  }

  &__hands{
    position: absolute;
    bottom: -40px;
    left: 0;
    right: -15px;
    display: flex;
    justify-content: space-between;
    @include lg-block{
      right: -20px;
      left: -20px;
    }
    @include sm-block{
      display: none;
    }
  }

  &__hand{

    &_left{
      left: 0;
    }

    &_right{
      right: 0!important;
      left: initial!important;
    }

    img{
      display: block;
    }

  }

  &__logo{
    @include lg-block{
      margin-bottom: 20px;
    }
  }

  &__big{
    color: $bg;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 35px;
    @include lg-block{
      font-size: 34px;
    }
    @include sm-block{
      text-align: center;
      font-size: 24px;
    }
  }

  &__btn{
    width: 232px;
    height: 54px;
    margin-bottom: 30px;
    @include lg-block{
      font-size: 16px;
    }
  }

  &__tel{
    color: $bg;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
    @include tr;

    &:hover{
      color: $btn;
    }
  }

  &__socials{
    margin-bottom: 40px;
  }

  &__policy{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 500;
    @include tr;
    &:hover{
      color: $btn;
    }
  }

  &__bottom{
    background-color: #1b0933;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    @include sm-block{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 14px;
      justify-items: center;
      padding: 25px 0;
    }
  }

  &__copy{
    color: rgba(255, 255, 255, 0.4);
    margin-right: 40px;
  }

  &__vendor{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 500;
    @include tr;
    @include sm-block{
        flex-direction: column;
    }

    &:hover{
      color: $btn;
    }

    img{
      margin-left: 5px;
      @include sm-block{
        margin-left: 0;
        margin-top: 14px;
      }
    }
  }

}