.index{
  padding-bottom: 130px;

  &__slider{
    transform: translateY(-68px);
    @include lg-block{
      transform: translateY(0);
    }
  }

  &__plan{
    margin-top: -136px;
    @include lg-block{
      margin-top: 0;
    }
  }

  &__casting{
    margin-bottom: 130px;
    @include sm-block{
      margin-bottom: 160px;
    }
  }
}