.port {
  padding-bottom: 190px;
  @include lg-block {
    padding-bottom: 90px;
  }
  @include sm-block{
    padding-bottom: 70px;
  }

  &__top {
    margin-bottom: 65px;
    @include lg-block {
      margin-bottom: 50px;
    }
    @include sm-block{
      margin-bottom: 35px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 20px;
    @include lg-block {
      grid-gap: 30px 20px;
    }
    @include sm-block {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;
    @include lg-block {
      border-radius: 4px;
      margin-bottom: 15px;
    }

    &:before {
      content: '';
      display: block;
      padding-top: calc(212 / 380 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

  }

  &__txt {
    color: $black;
    font-size: 20px;
    font-weight: 500;
    display: block;
    @include tr;
    @include lg-block {
      font-size: 16px;
    }

    &:hover {
      color: #F2994A;
    }
  }

  &__all {
    display: none;
    text-align: center;
    margin-top: 35px;
    @include sm-block {
      display: block;
    }
  }

}