.slider{

  position: relative;
  z-index: 2;

  $sliderSpeed: 15s;
  $sliderSpeed-768: $sliderSpeed*2;

  &__container{
    max-width: 1484px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 20px #b7b7b7;
    border-radius: 4px;
    background-color: $bg;
    overflow: hidden;
  }

  &__track{
    height: 136px;
    display: flex;
    align-items: center;

    &.animate {
      animation: sliderScroll $sliderSpeed linear infinite;
      @include lg-block{
        animation: sliderScroll-768 $sliderSpeed-768 linear infinite;
      }
    }

    &:hover{
      animation-play-state: paused;
    }
  }

  &__item{
    flex-shrink: 0;
    padding: 0 20px;
    width: calc(10%);
    display: flex;
    justify-content: center;

    @include lg-block{
      width: 20%;
    }

   img{

   }

  }

}

@keyframes sliderScroll {
  0% { transform: translateX(0); }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes sliderScroll-768 {
  0% { transform: translateX(0); }
  100% {
    transform: translateX(-200%);
  }
}