-
    var planList = [
        'Вы узнаете базовые <b>принципы медиа сферы</b>',
        'Научитесь <b>выступать перед публикой</b>',
        'Улучшите и обогатите свою речь и <b>избавитесь от комплексов</b>',
        'Узнаете техническую сторону процесса производства <b>видео контента</b>'
    ];

-
    var forItems = [
        'Для тех кто хочет <br> <b>стать звездой ТВ</b>',
        'Мечтает быть популярным <br> <b>Ютуб блогером</b>',
        'Планирует <br> <b>завоевать Тик-Ток</b>',
        'Вещать в эфирах <br> <b>радиостанций</b>',
        'Кто хочет <br> побороть <b>застенчивость <br> и раскрепоститься</b>',
        'Желает <br> <b>улучшить свою речь</b>'
    ];

-
    var specsList = [
        {
            img: 'images/content/specs/1.png',
            name: 'Маргарита Митрофанова',
            audio: {
                mp3: 'media/1.mp3',
                ogg: 'media/1.ogg'
            }
        },
        {
            img: 'images/content/specs/2.png',
            name: 'Андрей Иванов',
            audio: {
                mp3: 'media/2.mp3',
                ogg: 'media/2.ogg'
            }
        },
        {
            img: 'images/content/specs/3.png',
            name: 'Максим Привалов',
            audio: {
                mp3: 'media/3.mp3',
                ogg: 'media/3.ogg'
            }
        },
        {
            img: 'images/content/specs/1.png',
            name: 'Маргарита Митрофанова',
            audio: {
                mp3: 'media/1.mp3',
                ogg: 'media/1.ogg'
            }
        },
        {
            img: 'images/content/specs/2.png',
            name: 'Андрей Иванов',
            audio: {
                mp3: 'media/2.mp3',
                ogg: 'media/2.ogg'
            }
        },
        {
            img: 'images/content/specs/3.png',
            name: 'Максим Привалов',
            audio: {
                mp3: 'media/3.mp3',
                ogg: 'media/3.ogg'
            }
        }

    ];

-
    var portList = [
        {
            src: 'Cw9VFDYBGEI',
            txt: 'Репортаж Радио Рекорд с Супердискотеки 90-х'
        },
        {
            src: '4txceXkShHA',
            txt: 'Репортаж Радио Рекорд с фестиваля «Маятник Фуко 2»'
        },
        {
            src: '5WpM1R8D200',
            txt: 'Репортаж Радио Рекорд с VK Fest 2018'
        },
        {
            src: '1Y8-hG7_Lu8',
            txt: 'Репортаж Радио Рекорд со второго дня VK Fest 2018'
        },
        {
            src: 'PwIOb8baNBA',
            txt: 'Репортаж Радио Рекорд с первого дня VK Fest 2018'
        },
        {
            src: 'I8cBiXJFlxk',
            txt: 'Супердискотека 90-х Санкт-Петербург 02.12.17'
        }
    ];

-
    var costTable = [
        {
            name:'On Air',
            desc:'TV, YouTube, TikTok, Radio (online)',
        },
        {
            name:'Backstage',
            desc:'Режиссер рекламы муз.клипов / YouTube show',
        },
        {
            name:'SMM + PHOTO',
            desc:'INSTAGRAM, FACEBOOK, VK, TIK-TOK',
        }
    ];